<section class="comment-area">
    <div class="comment-wrapper">
        {% if site.comments == 'utteranc' %}
            {% if site.comments_opts.repo %}
            <div id="comment-layout">
                <script src="https://utteranc.es/client.js" repo="{{ site.comments_opts.repo }}"
                    issue-term="{{ site.comments_opts.issue_term | default : title }}"
                    label="{{ site.comments_opts.label | default : comments }}" theme="{{ site.comments_opts.theme | default : github-light }}"
                    crossorigin="anonymous" async>
                </script>
            </div>
            {% endif %}
        {% elsif site.comments == 'disqus' and site.comments_opts.discus_identifier %}
            <div id="disqus_thread" style="width:700px;"></div>
            <script type="text/javascript">
                (function () {
                    var s = document.createElement('script');
                    s.src = '//{{ site.comments_opts.discus_identifier }}.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the comments.</noscript>
        {% endif %}
    </div>
</section> <!-- End Comment Area -->
